#root {
  max-width: 1280px;
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
}

/* Style du body */
body {
  background: linear-gradient(135deg, #f5f7fa 0%, #b6d2ea 100%);
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

